.textocadastro{
  color: white;
}
.cards{
  padding:20px;
}
.espacamento{
  padding: 10px;
}
.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width:100%;
background: linear-gradient(to right, #000000, #200909,#1d0707
        ,#520000, #700000,
                            #ff0000);
  background-size:cover;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  background-size: 100% 100%;
  flex-direction: column;
  align-items: center;
}

.footer {
  box-shadow: 0 1px 20px white;
  color:white;
  background-color: #1c1c1c;
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #e23636;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
background: rgba( 255, 255, 255, 0.1);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur(10px);

  margin-top:100px;
   color:#ffffff;
  margin: 0;
  line-height: 1.15;
  font-size: 8rem;
   font-family: monospace;
 border-radius: 100px;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #bababa;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


.menucabe a:hover{
  background: #ff0000;
  color: white;
  border-radius: 1px;
  box-shadow: 0 0 10px white,
              0 0 10px white,
              0 0 10px white,
              0 0 10px white;
   transition: .5s;
}
.menucabe {
box-shadow: 0 15px 25px white;
  color: white;
  background: 	#0f0f0f;
  width:100%;
  
}

.textoesq{
  margin-top: -50px;
  text-align:justify;
    margin-left: 20px;
  width: 600px;
  color:white;
  animation-duration: 2s;
  font-size: 15px;
    font-style: italic;
}
.nav {
   margin-left: 100px;
  display:flex;
  aling-items: center;
  justify-content:space-between;
}
.nav ul{
 margin-left: 100px;
  font-style: italic;
  list-style-type: none;
}

.nav ul li{
   
  margin-top: 14px;
  display:inline-block;
}

.nav ul li a{
  
  margin-rigth: 30px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 35px;
  color: white;
  border-radius: 30px;
  
}
.nav ul li a:hover{
background-color: rgb(red, green, blue);  
}

.titulo{
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 font-size: 35px;
  font-style: Andale Mono, monospace;
  color: white;
  font-weight:bold;
}



@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


.loginbox{
  
  padding:20px;
  width:45%;
 background-color: #990000;
  border: 1px solid white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px black;
  border-radius: 5px;
}
.loginbox h2{
 font-style: italic;
  margin: 0 0 30px;
  padding: 0;
  color: white;
  text-align: center;
}

.loginbox .userbox{
  position:relative;
}

.loginbox .userbox input{
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
  
}
.loginbox .userbox label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  pointer-events: none;
  transition: .5s;
}
.loginbox .userbox input:focus ~ label,
.loginbox .userbox input:valid ~ label{
  top: -20px;
  left:0;
  color: white;
  font-size: 12px;
}
.loginbox form a{
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
}
.loginbox a:hover{
  background: #3c3243;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px white,
              0 0 10px white,
              0 0 10px white,
              0 0 10px white;           
}
